{# src/saya25/LouvreBundle/Resources/views/Advert/billetterie.html.twig #}

{% extends "saya25LouvreBundle::layout.html.twig" %}

{% block saya25blog_body %}

    <a href=" {{path('saya25_louvre_accueil') }}" class="glyphicon glyphicon-arrow-left"> Accueil </a>

    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Détail de la commande</li>
        <li class="breadcrumb-item"><a href=" {{ path('saya25_louvre_commande') }}">Coordonnées</a></li>
        <li class="breadcrumb-item"><a href=" {{  path('saya25_louvre_paiement') }}">Paiement</a></li>
        <li class="breadcrumb-item"><a href="#">Confirmation</a></li>
    </ol>

    <h1> Recapitulatif </h1>

    {% if app.session.get("commande").Status is defined %}

        {{app.session.get("ticket").Nom}}
        {{ app.session }}
    {% endif %}
          <h1>Finalisez votre réservation</h1>
    <br />
    <br />



        {{ include("saya25LouvreBundle:Ticket:formBillet.html.twig") }}

    {% endblock %}