{# src/saya25/LouvreBundle/Resources/views/Advert/billetterie.html.twig #}

{% extends "::layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
    <ol class="breadcrumb">
        <div class="col-sm-1 col-xs-1"><p><a href=" {{path('saya25_louvre_accueil') }}" class="glyphicon glyphicon-arrow-left btn-xs btn btn-primary btn-circle" id="retourAccueil"> </a></p></div>
        <li class="breadcrumb-item active" id="brd1">{{'Détail de la commande'|trans}}</li>
        <li class="breadcrumb-item" id="brd2"><a href="#">{{'Coordonnées'|trans}}</a></li>
        <li class="breadcrumb-item" id="brd3"><a href="#">{{'Paiement'|trans}}</a></li>
        <li class="breadcrumb-item" id="brd4"><a href="#">Confirmation</a></li>
    </ol>
        </div>
    <div class="row" id="billetterieForm">
        <div class="col-sm-6"> {{ include("saya25LouvreBundle:Ticket:formBillet.html.twig") }} </div>
        <div class="col-sm-6"><h1 class="titleBilletterie">{{'Récapitulatif'|trans}}</h1></div>
        <div class="row">
            <div class="col-sm-offset-7"><img class="louvreImage" src="{{ asset('bundles/saya25Louvre/images/louvre.jpg') }}">
                {% set commande = app.session.get('commande') %}
                {% if commande.getBillet() is defined %}
                    {% for billet in commande.getBillet() %}
                        {% if billet.status == 1 %}
                            <p class="journee">{{'Billet journée'|trans}}</p>
                            <p>  {{ billet.prenom }} {{ billet.nom }}  </p>
                            <p>{{ billet.dateNaissance|date("m/d/Y") }}</p>
                        {% elseif billet.status == 0 %}
                            <p class="demiJournee">{{'Billet demi-journée'|trans}} </p>
                            <p>  {{ billet.prenom }} {{ billet.nom }} </p>
                            <p>{{ billet.dateNaissance|date("m/d/Y") }}</p>
                        {% endif %}
                    {% endfor %}
                    <p><a href=" {{path('saya25_louvre_deletebillet') }}" class="btn btn-danger btn-xs deleteAllBillets">{{'Supprimer le(s) billet(s)'|trans}} </a></p>
                    <a href=" {{ path('saya25_louvre_commande') }}" class="btn btn-primary glyphicon glyphicon-arrow-right poursuivre">{{'Poursuivre'|trans}} </a>
                {% endif %}
            </div>
        </div>
        <br />
        <br />
    </div>
    </div>
{% endblock %}