{# src/saya25/LouvreBundle/Resources/views/Advert/billetterie.html.twig #}

{% extends "saya25LouvreBundle::layout.html.twig" %}

{% block saya25blog_body %}

    <a href=" {{path('saya25_louvre_accueil') }}" class="glyphicon glyphicon-arrow-left"> Accueil </a>

    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Détail de la commande</li>
        <li class="breadcrumb-item"><a href=" {{ path('saya25_louvre_commande') }}">Coordonnées</a></li>
        <li class="breadcrumb-item"><a href=" {{  path('saya25_louvre_paiement') }}">Paiement</a></li>
        <li class="breadcrumb-item"><a href="#">Confirmation</a></li>
    </ol>

    <h1> Recapitulatif </h1>
          <h1>Finalisez votre réservation</h1>
    <br />
    <br />
    {% set commande = app.session.get('commande') %}
        {% if commande.getBillet() is defined %}
            {% for billet in commande.getBillet() %}
                {% if billet.status == 1 %}
                    <p id="journee"> Billet journée</p>
                    {{ billet.prenom }}
                    {{ billet.nom }}
                {% elseif billet.status == 0 %}
                    <p id="demiJournee"> Billet demi-journée</p>
                    {{ billet.prenom }}
                    {{ billet.nom }}
                {% endif %}
            {% endfor %}
            <p><a href=" {{path('saya25_louvre_deletebillet') }}" class="btn btn-danger"> Supprimer les billets </a></p>
        {% endif %}

    {{ include("saya25LouvreBundle:Ticket:formBillet.html.twig") }}
    {% endblock %}