{# src/saya25/LouvreBundle/Resources/views/Advert/coordonnees.html.twig #}

{% extends "saya25LouvreBundle::layout.html.twig" %}

{% block saya25blog_body %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href=" {{  path('saya25_louvre_billetterie') }}">{{'Détail de la commande'|trans}}</a></li></li>
            <li class="breadcrumb-item active">{{'Coordonnées'|trans}}</li>
            <li class="breadcrumb-item"><a href="">{{'Paiement'|trans}}</a></li>
            <li class="breadcrumb-item"><a href="#">Confirmation</a></li>
        </ol>
        <div class="row" id="commandeForm">
            <div class="col-sm-6"> {{ include("saya25LouvreBundle:Ticket:formCommande.html.twig") }} </div>
            <div class="col-sm-6"><h1 class="titleCoordonnees">{{'Récapitulatif'|trans}}</h1></div>
            <div class="row">
                <div class="col-sm-offset-7"><img class="louvreImage" src="{{ asset('bundles/saya25Louvre/images/louvre.jpg') }}">
                    {% set commande = app.session.get('commande') %}
                    {% if commande.getBillet() is defined %}
                        {% for billet in commande.getBillet() %}
                            {% if billet.status == 1  %}
                                <p class="journee">{{'Billet journée'|trans}}</p>
                                <p>  {{ billet.prenom }} {{ billet.nom }}  </p>
                                <p>{{ billet.dateNaissance|date("m/d/Y") }}</p>
                                <script src="{{ asset('bundles/saya25Louvre/js/journee.js') }}"></script>
                            {% elseif billet.status == 0 %}
                                <p class="demiJournee">{{'Billet demi-journée'|trans}} </p>
                                <p>  {{ billet.prenom }} {{ billet.nom }} </p>
                                <p>{{ billet.dateNaissance|date("m/d/Y") }}</p>
                                <script src="{{ asset('bundles/saya25Louvre/js/demijournee.js') }}"></script>
                        {% endif %}
                        {% endfor %}
                        <p> <a href=" {{path('saya25_louvre_deletebillet') }}" class="btn btn-danger btn-xs deleteAllBillets">{{'Supprimer le(s) billet(s)'|trans}} </a></p>
                    {% endif %}
                </div>
                {% for messageFlash in app.session.flashbag.get('danger') %}
                    <p> {{ messageFlash }}</p>
                {% endfor %}
            </div>
            <br />
            <br />
        </div>
    </div>
{% endblock %}