{# src/saya25/LouvreBundle/Resources/views/Advert/confirmation.html.twig #}

{% extends "::layout.html.twig" %}

{% block body %}

    <div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">{{'Détails de la commande'|trans}}</li>
        <li class="breadcrumb-item active">{{'Commande'|trans}}</li>
        <li class="breadcrumb-item active">{{'Paiement'|trans}}</li>
        <li class="breadcrumb-item">{{'Confirmation'|trans}}</li>
    </ol>
        {% if commande.getBillet() is defined %}
            <p class="glyphicon glyphicon-ok"> </p>
            <p>{{'Votre paiement a été accepter'|trans}}</p>
            <p>{% trans %}Vous allez recevoir un e-mail de confirmation à l'adresse suivante : {% endtrans %}<strong>{{ commande.email }}</strong></p>
            <h2>{{'Effectuer une autre commande ?'|trans}}</h2>
            <p><a class="btn btn-primary" href="{{ path('saya25_louvre_billetterie') }}">{{'Nouvelle commande'|trans}} </a></p>
            {{ app.session.clear }}
        {% else %}
            <p class="glyphicon glyphicon glyphicon-remove"> </p>
            <p>{{'Votre paiement a échouer, veuillez réessayer'|trans}}</p>
            <p><a class="btn btn-primary" href="{{ path('saya25_louvre_billetterie') }}">{{'Réessayer'|trans}}</a></p>
        {% endif %}
    </div>
{% endblock %}