    {# src/saya25/LouvreBundle/Resources/views/Ticket/formBillet.html.twig #}

    {% extends "saya25LouvreBundle::layout.html.twig" %}
    {% block saya25blog_body %}


    <h3>Réservation de billets </h3>
        <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {# Les erreurs générales du formulaire. #}

            {{ form_errors(form) }}
            {{ form_row(form) }}

            <div id="prix"> </div>
            {# Fermeture de la balise <form> du formulaire HTML #}
            {{ form_end(form) }}
        </div>


    <div class="well">

    <a href="#" id="add_billet" class="btn btn-default">Billet supplémentaire</a>
    </div>


    <script type="text/javascript">
        $(document).ready(function() {

                var $container = $('div#commande_billet_billet');

                var index = $container.find(':input').length;

                $('#add_billet').click(function (e) {

                    addBillet($container);
                    e.preventDefault();
                    return false;
                });

                if(index ==0) {
                    addBillet($container);
                } else {
                    $container.children('div').each(function(){
                       addDeleteLink($(this));
                    });
                }

                function addBillet($container) {

                    var template = $container.attr('data-prototype')
                            .replace(/__name__label__/g, 'Billet n°' + (index+1))
                            .replace(/__name__/g,        index)
                        ;

                    var $prototype = $(template);

                    addDeleteLink($prototype);

                    $container.append($prototype);
                    index++;
                }

                function addDeleteLink($prototype) {

                    var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
                    $prototype.append($deleteLink);

                    $deleteLink.click(function(e) {

                        $prototype.remove();
                        e.preventDefault();
                        return false;
                        });
                    }
                });
        </script>



       





        <a href="{{path('saya25_louvre_commande')}}"> Poursuivre </a>

{% endblock %}


    


