    {# src/saya25/LouvreBundle/Resources/views/Ticket/form.html.twig #}

    <h3>Réservation de billets </h3>

    <div class="well">
      {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

      {# Les erreurs générales du formulaire. #}

      {{ form_errors(form) }}

      {# Génération du label + error + widget pour un champ. #}
        {{ form_row(form.status) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.pays) }}
        {{ form_row(form.dateNaissance) }}
        {{ form_row(form.tarifReduit) }}
        {{ form_row(form.prix) }}

      {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.Ajouter, {'attr': {'class': 'btn btn-primary'}}) }}

      {# Génération du champ CSRF et de tous les champs non mentionnés ici. #}
      {{ form_rest(form) }}

      {# Fermeture de la balise <form> du formulaire HTML #}
      {{ form_end(form) }}
    </div>