    {# src/saya25/LouvreBundle/Resources/views/Ticket/formBillet.html.twig #}

    {% extends "saya25LouvreBundle::layout.html.twig" %}
    {% block saya25blog_body %}

    <h3 class="titleBilletterie">{{'Réservation de billets'|trans}} </h3>
        <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {# Erreurs du formulaire #}
            {{ form_errors(form) }}

            {{ form_label(form.billet) }}

            {# Fermeture du formulaire #}
            {{ form_end(form) }}
    <a href="#" id="add_billet" class="btn btn-primary btn-xs">{{'Billet supplémentaire'|trans}}</a>
    </div>


    <script type="text/javascript">
        $(document).ready(function() {

                var $container = $('div#commande_billet_billet');

                var index = $container.find(':input').length;

                $('#add_billet').click(function (e) {

                    addBillet($container);
                    e.preventDefault();
                    return false;
                });

                if(index ==0) {
                    addBillet($container);
                } else {
                    $container.children('div').each(function(){
                       addDeleteLink($(this));
                    });
                }

                function addBillet($container) {

                    var template = $container.attr('data-prototype')
                            .replace(/__name__label__/g, '')
                            .replace(/__name__/g,        index)
                        ;

                    var $prototype = $(template);

                    addDeleteLink($prototype);

                    $container.append($prototype);
                    index++;
                }

                function addDeleteLink($prototype) {

                    var $deleteLink = $('<a href="#" class="btn btn-danger btn-xs" id="deleteOneBillet">{{'Supprimer'|trans}}</a>');
                    $prototype.append($deleteLink);

                    $deleteLink.click(function(e) {

                        $prototype.remove();
                        e.preventDefault();
                        return false;
                        });
                    }
                });
        </script>
{% endblock %}

