{# src/saya25/LouvreBundle/Resources/views/Advert/paiement.html.twig #}

{% extends "saya25LouvreBundle::layout.html.twig" %}

{% block saya25blog_body %}


    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href=" {{ path('saya25_louvre_billetterie') }}">Détails de la commande</a></li>
        <li class="breadcrumb-item"><a href=" {{ path('saya25_louvre_commande') }}">Coordonnées</a></li>
        <li class="breadcrumb-item active">Paiement</li>
        <li class="breadcrumb-item"><a href="#">Confirmation</a></li>
    </ol>

    <div>
    	<h2>Méthode de paiement</h2>
    </div>


<form action="{{ path('saya25_louvre_paiement') }}" method="POST">
    <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ public_key }}"
            data-amount="{{ commande.total *100 }}"
            data-name="Billet(s) musée du Louvre"
            data-image="http://www.france-hotel-guide.com/fr/blog/wp-content/uploads/2014/09/musee-louvre.jpg"
            data-locale="auto"
            data-zip-code="true">
    </script>
</form>

    {% set commande = app.session.get('commande') %}
    {% if commande.getBillet() is defined %}
        {% for billet in commande.getBillet() %}
            {% if billet.status == 1 %}
                <p id="journee"> Billet journée</p>
                {{ billet.prenom }}
                {{ billet.nom }}
                <p>{{ billet.dateNaissance|date("m/d/Y") }}</p>
                <p> Billet :{{ billet.tarif }} </p>
                <p> Prix : {{ billet.prix }} € </p>

            {% elseif billet.status == 0 %}
                <p id="demiJournee"> Billet demi-journée</p>
                {{ billet.prenom }}
                {{ billet.nom }}
                <p>{{ billet.dateNaissance|date("m/d/Y") }} </p>
                <p> Billet :{{ billet.tarif }} </p>
                <p> Prix : {{ billet.prix }} € </p>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}